<mat-card appearance="outlined" class="rounded-2xl">
    <!-- <mat-card-header class="w-full">
        <div style="text-align:center; width:100%;">
            <mat-card-title>{{title}}</mat-card-title>
        </div>
    </mat-card-header> -->
    <mat-card-content class="pb-0">
        <div class="flex items-center justify-center gap-6" style="margin-bottom: 0!important;">
            <div class="w-full" [style.height.px]="height" *ngIf="labels && seriesColumn && chartOptions && height > 0">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [yaxis]="chartOptions.yaxis"
                    [xaxis]="chartOptions.xaxis" [labels]="chartOptions.labels" [stroke]="chartOptions.stroke"
                    [title]="chartOptions.title" [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill"
                    [tooltip]="chartOptions.tooltip"></apx-chart>

            </div>
        </div>
    </mat-card-content>
</mat-card>