.shrink-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.shrink-text {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  text-overflow: ellipsis;
  overflow: hidden;
}

#chart {
  // max-width: 650px;
  margin: 35px auto;
}