<div class="group-area" cdkDropList (cdkDropListDropped)="onGroupDrop($event)">
    <p *ngIf="groupByColumns.length === 0">Drag columns here to group</p>
    <p *ngIf="groupByColumns.length">Grouped by: {{ groupByColumns.join(', ') }}</p>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Header Definitions -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef cdkDrag [cdkDragData]="column" class="draggable-header">
            {{ column | titlecase }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
    </ng-container>

    <!-- Grouped Rows -->
    <ng-container *ngTemplateOutlet="renderGroups; context: { groups: groupedData, parentKey: '' }"></ng-container>
</table>

<!-- Recursive Template for Groups -->
<ng-template #renderGroups let-groups="groups" let-parentKey="parentKey">
    <ng-container *ngFor="let group of groups">
        <ng-container *ngIf="group.items">
            <tr class="group-header" (click)="toggleGroup(generateKeyPath(group, parentKey))">
                <td [attr.colspan]="displayedColumns.length">
                    {{ '--'.repeat(group.level) }} {{ group.key }}
                    <span style="float: right">
                        {{ isCollapsed(generateKeyPath(group, parentKey)) ? '+' : '-' }}
                    </span>
                </td>
            </tr>
            <ng-container *ngIf="!isCollapsed(generateKeyPath(group, parentKey))">
                <ng-container *ngIf="Array.isArray(group.items[0]); else nestedGroup">
                    <tr mat-row *ngFor="let row of group.items" [matRowDefColumns]="displayedColumns"></tr>
                </ng-container>
                <ng-template #nestedGroup>
                    <ng-container
                        *ngTemplateOutlet="renderGroups; context: { groups: group.items, parentKey: generateKeyPath(group, parentKey) }"></ng-container>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<mat-paginator [pageSize]="5"></mat-paginator>